page-member-service {
	.service-list {

		li {
			position: relative;
			width: 90%;
			max-width: rem(360);
			height: rem(88);
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin:auto;
			border-radius: 5px; 
			overflow: hidden;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			.text-box {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				text-align: right;
				padding: rem(15) 0;
				color: #fff;

				p {
					padding-right: rem(20);
					font-size: rem(24);
				}

				span {
					font-size: rem(18);
				}

				i {
					float: right;
					font-size: rem(36);
					margin-top:rem(8);
				}
			}
		}
	}
}
